{% extends "front/base.html.twig" %}

{% block main %}

	{% for article in articles %}
		{% if article.published %}
			<h2>
				<a href="{{ path('article_show', {'id' : article.id}) }}">{{ article.title }}</a>
			</h2>
		{% endif %}
	{% endfor %}
{% endblock %}
